In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_2011.csv')

In [3]:
df

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,...,emp__8 years,emp__9 years,emp__< 1 year,ho__MORTGAGE,ho__OTHER,ho__OWN,ho__RENT,ver__Not Verified,ver__Source Verified,ver__Verified
0,5000,5000,4975.00000,10.65,162.87,24000.0,Fully Paid,27.65,0,1,...,0,0,0,0,0,0,1,0,0,1
1,2500,2500,2500.00000,15.27,59.83,30000.0,Charged Off,1.00,0,5,...,0,0,1,0,0,0,1,0,1,0
2,2400,2400,2400.00000,15.96,84.33,12252.0,Fully Paid,8.72,0,2,...,0,0,0,0,0,0,1,1,0,0
3,10000,10000,10000.00000,13.49,339.31,49200.0,Fully Paid,20.00,0,1,...,0,0,0,0,0,0,1,0,1,0
4,3000,3000,3000.00000,12.69,67.79,80000.0,Current,17.94,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21716,24250,18875,18850.00000,17.43,473.47,48000.0,Fully Paid,16.35,0,1,...,0,0,0,0,0,1,0,0,0,1
21717,12000,12000,10958.17650,5.42,361.92,19008.0,Fully Paid,7.70,0,0,...,0,0,0,0,0,1,0,1,0,0
21718,12000,12000,11925.00000,9.99,254.91,18000.0,Fully Paid,3.33,0,0,...,0,0,0,0,0,1,0,0,1,0
21719,2500,2500,2500.00000,5.79,75.82,40000.0,Charged Off,14.70,0,1,...,1,0,0,0,0,0,1,1,0,0
21720,25000,25000,24674.87924,14.83,864.56,110000.0,Fully Paid,15.10,1,0,...,0,0,1,0,0,0,1,0,1,0

In [4]:
df['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)'],
      dtype=object)

In [5]:
# 1 good / 0 bad

df=df.replace(to_replace="Fully Paid",value= 1)
df=df.replace(to_replace="Charged Off",value= 0)
df=df.replace(to_replace="Current", value = 1)
df=df.replace(to_replace="Default",value= 0)
df=df.replace(to_replace="Late (31-120 days)",value= 0)
df=df.replace(to_replace="In Grace Period",value= 0)
df=df.replace(to_replace="Late (16-30 days)",value= 0)

In [6]:
df['loan_status'].unique()

array([1, 0], dtype=int64)

In [7]:
df

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,...,emp__8 years,emp__9 years,emp__< 1 year,ho__MORTGAGE,ho__OTHER,ho__OWN,ho__RENT,ver__Not Verified,ver__Source Verified,ver__Verified
0,5000,5000,4975.00000,10.65,162.87,24000.0,1,27.65,0,1,...,0,0,0,0,0,0,1,0,0,1
1,2500,2500,2500.00000,15.27,59.83,30000.0,0,1.00,0,5,...,0,0,1,0,0,0,1,0,1,0
2,2400,2400,2400.00000,15.96,84.33,12252.0,1,8.72,0,2,...,0,0,0,0,0,0,1,1,0,0
3,10000,10000,10000.00000,13.49,339.31,49200.0,1,20.00,0,1,...,0,0,0,0,0,0,1,0,1,0
4,3000,3000,3000.00000,12.69,67.79,80000.0,1,17.94,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21716,24250,18875,18850.00000,17.43,473.47,48000.0,1,16.35,0,1,...,0,0,0,0,0,1,0,0,0,1
21717,12000,12000,10958.17650,5.42,361.92,19008.0,1,7.70,0,0,...,0,0,0,0,0,1,0,1,0,0
21718,12000,12000,11925.00000,9.99,254.91,18000.0,1,3.33,0,0,...,0,0,0,0,0,1,0,0,1,0
21719,2500,2500,2500.00000,5.79,75.82,40000.0,0,14.70,0,1,...,1,0,0,0,0,0,1,1,0,0
21720,25000,25000,24674.87924,14.83,864.56,110000.0,1,15.10,1,0,...,0,0,1,0,0,0,1,0,1,0

In [8]:
# get our y values for loan status and remove it from the data frame
y = df.pop('loan_status').values.reshape(-1,1)

In [9]:
X = df.loc[:,:].values

In [10]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import numpy as np

In [41]:
# split X and y into test and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state = 1)

In [42]:
# transform and normalize data
min_max_scaler = preprocessing.MinMaxScaler()

In [43]:
X_train = min_max_scaler.fit_transform(X_train)
y_train = min_max_scaler.fit_transform(y_train)

In [44]:
X_test = min_max_scaler.transform(X_test)
y_test = min_max_scaler.transform(y_test)

In [45]:
# set up for Principle Component Analysis

from sklearn.decomposition import PCA

In [46]:
pca = PCA(0.95)

In [47]:
pca.fit(X_train)

PCA(copy=True, iterated_power='auto', n_components=0.95, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [48]:
pca.n_components_

24

In [49]:
pca.explained_variance_ratio_

array([0.1682752 , 0.12329795, 0.08507315, 0.07300582, 0.06760735,
       0.0504009 , 0.04594452, 0.040619  , 0.03444794, 0.02750687,
       0.02523125, 0.02477206, 0.02429707, 0.02361342, 0.0230164 ,
       0.0199797 , 0.01764405, 0.01639496, 0.01491853, 0.01270524,
       0.0105068 , 0.01015807, 0.00905146, 0.0088183 ])

In [50]:
X_train_pca = pca.transform(X_train)
X_test_pca = pca.transform(X_test)

In [51]:
from sklearn.naive_bayes import GaussianNB

In [52]:
gnb = GaussianNB()
gnb.fit(X_train_pca, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [53]:
y_pred = gnb.predict(X_test_pca)

In [54]:
from sklearn import metrics

In [55]:
print("Gaussian NB model accuracy(%):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian NB model accuracy(%): 15.462019072673463